<div id="Breadcrumb">
		administração > <a href="<%=admin_resellers_path%>">revendas</a>
	</div>
	<div id="Content">
		<span class="Titulo">Copiando Revendas</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_admin_reseller_path%></li>
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
				<% if flash[:msg] %>
					<div id="mensagem">
						<h2><%=flash[:msg]%></h2>
					</div>
				<% end %>
				
		</div>
		<div class="Linha"></div>
	</div>
