<%content_for :title do%>
	Linhas
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "linhas"%>

<%end%>
<div id='Content_bgrepeat'>
  <div id='Content'>
    <div id='Box_produtos'>
      <div id='Box_top'>
        <%=image_tag("ico_title_internal.png")%>
 	    <h1>Produtos</h1>
	  </div>
	  <div id='Box_content'>
	    <ul>
		  <li>Filtros de Água Potável</li>
		  <li>Aquecedores de Água a 55C</li>
		  <li>Produtos para Piscinas</li>
		</ul>
	  </div>
    </div>
  </div>
</div>
