@charset "utf-8";
/* CSS Document */

#Image_internal{
    width:277px;
	z-index:10;
	position:absolute;
	margin-top:-340px;
	margin-left:9px;
	}
	
#txt_form{
	float:left;
	text-align:right;
	}
	
#comp_form{
	float:left;
	width:300px;
	margin-top:6px;
	}

#comp_form select{
	margin-bottom:6px;
	width:338px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	}
	
#comp_form input{
	margin-bottom:6px;
	width:332px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #comp_form input { margin-bottom:6px; }	}
 
#comp_form textarea{
	margin-bottom:6px;
	width:332px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
 
 .bt_enviar{
	 float:right;
	 margin-right:-42px;
	 width:auto !important;
	 }
.p_agradecimento
{
	margin-top:100px;
	text-align:center;
}
#Img_Linha{
	margin-top:
	}