@charset "utf-8";
/* CSS Document */

#Image_internal{
    width:277px;
	z-index:10;
	position:absolute;
	margin-top:-350px;
	margin-left:9px;
	}
	
#txt_form{
	float:left;
	text-align:right;
	}
	
#comp_form{
	float:left;
	width:300px;
	margin-top:6px;
	}

#comp_form select{
	margin-bottom:6px;
	width:338px;
	}
	
#comp_form input{
	margin-bottom:6px;
	width:332px;
	}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #comp_form input { margin-bottom:3px; }	}