#efeito a{ 
  display:block; 
  font-weight:bold; 
  color:#fff; 
  padding:5px 10px; 
  text-decoration:none; 
  } 
			
#efeito a:hover{
	} 
	
#efeito a.selected{
	} 


.com_fundo img{
	float:right;
	}

.sem_fundo img{
	float:right;

	}

#Image_internal
  {
    width:277px;
	z-index:10;
	position:absolute;
	margin-top:-420px;
	*margin-top:-420px;
	margin-left:6px;
  }

.sem_fundo{
	margin-left:20px;
    padding-left:15px;
	}

.com_fundo{
	background-image:url(../images/bg_item_download.png);
	background-repeat:repeat-y;
	margin-left:20px;
    padding-left:15px;
	}

