#Right_content{
	min-height:500px;
	margin-bottom: 20px;
}
#efeito a{ 
  display:inline; 
  font-weight:bold; 
  color:#fff; 
  padding:5px 10px; 
  text-decoration:none; 
  } 
			
#efeito a:hover{
	} 
	
#efeito a.selected{
	} 


.com_fundo img{
	float:right;
	}

.sem_fundo img{
	float:right;

	}

#Image_internal
  {
    width:277px;
	z-index:10;
	position:absolute;
	top:622px;
  }

.sem_fundo{
	margin-left:20px;
    padding-left:15px;
	}

.com_fundo{
	background-image:url(../images/bg_item_download.png);
	background-repeat:repeat-y;
	margin-left:20px;
    padding-left:15px;
	}
.Title_opened h2{
	float:left;
}	
.Title_opened #img_seta{
	margin-top: 10px;
	margin-left: 10px;
	height:14px;
	width:15px;
	float:left;
	background-image: url(../images/seta_up.png);
	background-repeat: no-repeat;
}
.Title_closed h2{
	float:left;
}
.Title_closed #img_seta{
	margin-top: 10px;
	margin-left: 10px;
	height:14px;
	width:15px;
	float:left;
	background-image: url(../images/seta_down.png);
	background-repeat: no-repeat;
}	
.hide
{
	display:none;	
}

