#Content_bgrepeat
  {
	position:relative;
	display:inline-block;
	width:100%;
	min-height:100px;
	height:auto;
	margin:auto;
	z-index:0;
  }
  
#Content
  {
	position:relative;
	width:100%;
	min-height:452px;
	height:auto;
	margin:auto;
	margin-top:-5px;
	margin-right:2px;
	margin-bottom:10px;
	z-index:0;
  }
  
