@charset "utf-8";
/* CSS Document */
/* beginning of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* end of reset*/
html
{
	
	position:relative;
	width:100%;
	height:100%;
	
}
body
{
	position:relative;
	/*background-image:url(../images/bg_home.jpg);*/
	background-image:url(../images/bg_index.jpg);
	background-repeat:repeat-x;
	background-position:top center;		
	width:100%;
	height:100%;
	background-color:#6cc6e4;;
}
#GeneralbgFooter
{
	position:relative;
	width:100%;
	margin:auto;
}
#General
{
	position:relative;
	width:960px;
	margin:auto;
}
	
	#Header
	{
		position:relative;
		width:100%;
		height:236px;
		margin:auto;
	}
	#Logo
	{
		position:absolute;
		left:-89px;
		top:12px;		
		width:278px;
		margin:auto;
	}	
		#Top_bar
		{
			width:100%;
			height:50px;
			margin:auto;
			
		}	
			/*Tab search bar begining  */		
				#Top_bar #Search_bar{  }
				#Top_bar .slide 
				{
				  position: relative;
				  width:385px;
				  height:33px;
				  overflow:hidden; 
				  clip:rect(0px 340px 100px 0px);
				  float:right;
				  margin-right:10px;
				  margin-top:7px;
				}
			
				#Top_bar #Search_bar button 
				{
					position:relative;
					border:none; background:none;
					margin-left:273px;
					margin-left/*\**/:274px\9; /*ie8*/
					*margin-left:259px; /*ie7*/
					top:-9px;
					*top:-10px;   /*ie7*/
					z-index:90;
					cursor:pointer;
				}
				@media screen and (-webkit-min-device-pixel-ratio:0) {
				 #Top_bar #Search_bar button 
				 {
									position:relative;
									border:none; 
									background:none;
									margin-left:276px;
									top:-12px;
									z-index:90;
									cursor:pointer;	 
					 }	}					
				#Top_bar .slide .inner {
					position: absolute;
					top:-8px;
					left: 0;
					bottom: 0;
					height:50px;
					width:387px;
					background-image:url(../images/menu/bg_searchfield.png);
					background-repeat:no-repeat;
					background-position:center;
				}
				#Top_bar .slide .inner input
				{
					width:264px;
					margin:16px 0px 0px 10px;
					background:transparent;
					border:none;
					font-family:Verdana, Geneva, sans-serif;
					font-size:14px;
					
				}
			/*Tab search bar end  */
			/*Tab login tab begining  */						
			#Login_field
			{
				width:245px;
				height:170px;
				float:right;
			}
				#Login_field #Login_buttom
				{
					float:right;
					height:50px;
				}	
				#Login_field #Login_tab
				{
					position:absolute;
					top:41px;
					background-image:url(../images/menu/bg_logintab.png);
					background-repeat:no-repeat;
					background-position:center;
					float:right;
					height:125px;
					width:245px;				
				}
					#Login_field #Login_tab #Login_content
					{
						height:100px;
						width:220px;
						padding:5px 5px 5px 5px;
						margin:auto;				
					}	
						#Login_field #Login_tab #Login_content .Bg_linput
						{
							background-image:url(../images/menu/bg_logininput.png);
							background-repeat:no-repeat;
							background-position:center;	
							margin:auto;
							height:26px;
							padding:0px 0px 0px 17px;			
						}
							#Login_field #Login_tab #Login_content .Bg_linput input
							{
								height:26px;
								width:178px;
								background:none;
								border:none;	
								font-family:Verdana, Geneva, sans-serif;
								font-size:14px;						
							}
							.Entrar_button
							{
								float:right;
								margin-right:12px;	
							}
					#login {}
					.open{}
					.close{display:none;}	
			/*Tab login end  */				
									
		#Menu
		{
			position:absolute;	
			top:180px;
			left:-46px;
			background-image:url(../images/menu/bg_menuinternal.png);
			background-repeat:no-repeat;
			background-position:center top;
			width:1021px;
			height:80px;
		}
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
		{
				#Menu {
						padding-top:13px;
					  }
		}		
			#Menu ul
			{
				margin-top:21px;
				margin-left:50px;
			}
			#Menu li
			{
				display: inline;
				margin-left:10px;
			}
			.item_align
			{
				padding-top:5px;
				*padding-top:20px;
				padding-left:105px;
			}
				.institucional
				{
				}
				.institucional a
				{
					background-image:url(../images/menu/bt_institucional01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.institucional a:hover
				{
					background-image:url(../images/menu/bt_institucional01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.servicos a
				{
					background-image:url(../images/menu/bt_servicos01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.servicos a:hover
				{
					background-image:url(../images/menu/bt_servicos01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.produtos a
				{
					background-image:url(../images/menu/bt_produtos01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.produtos a:hover
				{
					background-image:url(../images/menu/bt_produtos01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.cases a
				{
					background-image:url(../images/menu/bt_cases01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.cases a:hover
				{
					background-image:url(../images/menu/bt_cases01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}

				.downloads a
				{
					background-image:url(../images/menu/bt_downloads01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.downloads a:hover
				{
					background-image:url(../images/menu/bt_downloads01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.servicos a
				{
					background-image:url(../images/menu/bt_servicos01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.servicos a:hover
				{
					background-image:url(../images/menu/bt_servicos01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.noticias a
				{
					background-image:url(../images/menu/bt_noticias01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.noticias a:hover
				{
					background-image:url(../images/menu/bt_noticias01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.videos a
				{
					background-image:url(../images/menu/bt_videos01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.videos a:hover
				{
					background-image:url(../images/menu/bt_videos01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
				.atendimento a
				{
					background-image:url(../images/menu/bt_atendimento01.png);
					background-repeat:no-repeat;
					background-position:0px 0px;
					width:128px;
					height:28px;
					text-decoration:none;
				}
				.atendimento a:hover
				{
					background-image:url(../images/menu/bt_atendimento01.png);
					background-repeat:no-repeat;
					background-position:0px -36px;
					width:128px;
					height:28px;

				}
	#Featured /*Destaque*/
	{
		border:#333 1px solid;
		position:relative;
		width:100%;
		height:325px;
		margin:auto;
		background:#FFF;
	}	
		#Content_bgrepeat
		{
			background-image:url(../images/bg_contentrepeat.png);
			background-repeat:no-repeat;
			background-position:-5px 452px;
			*background-position:-5px 452px; /*ie7*/
			background-position /*\**/:-4px 452px\9; /*ie8*/
			margin-top:0px;
			position:relative;
			display:inline-block;
			width:100%;
			min-height:100px;
			height:auto;
			margin:auto;
			z-index:0;
		}											
		#Content
		{
			background-image:url(../images/bg_contenttop.png);
			background-repeat:no-repeat;
			background-position:center top;
			position:relative;
			width:100%;
			min-height:452px;
			height:auto;
			margin:auto;
			margin-top:-5px;
			margin-right:2px;
			z-index:0;
		}

			#Box_left
			{
				float:left;
				margin-left:10px;
				width:260px;
				margin-top:98px;
				z-index:0;
	
			}
				#Menu_internal
				{
					font-family:Verdana, Geneva, sans-serif;
					font-size:12px;
					color:#fff;
					float:left;
					width:277px;
					height:auto;
		
				}	
					#Menu_internal ul
					{	
						position:relative;			
					}
						#Menu_internal li
						{
							display:block;
							width:259px;
							height:28px;
							margin-bottom:2px;
							
						}
							.bg_botao
							{
								
							}
							.align_detail
							{
								float:left;	
								margin-top:2px;
								margin-left:15px;
								margin-right:5px;							
							}							
							.bg_botao a
							{
								width:259px;
								height:28px;
								background:url(../images/menu/Menu_internal/bg_button1.png);
								background-repeat:no-repeat;
								background-position:center center;										
								text-decoration:underline;															
								display:block;
								padding:14px 0 0 0;
							    text-align:left;
								text-decoration:none;
								color:#FFF;
								
							}														
	
									.bg_botao a:hover
									{
										background:url(../images/menu/Menu_internal/bg_button0.png);
										background-repeat:no-repeat;
										background-position:center center;			
									}	
				
				#Image_internal{
					width:277px;
					z-index:10;
					position:absolute;
					margin-top:-219px;					
					margin-left:6px;
					}
																																																		
			#Box_right
			{
				float:right;
				width:680px;
				margin-top:48px;
				z-index:0;
				height:auto;
			}
				#Right_content
				{
					position:relative;
					width:613px;
					margin:auto;
					z-index:0;
					height:auto;
		
				}
				
				#Right_content h1{
					margin-top:-18px;
					margin-left:-5px;
					padding:0px;
					font-family:Verdana, Geneva, sans-serif;
					font-size:20px;
					font-weight:normal;
					color:#dd6417;
					border-bottom:1px solid #dd6417;
					padding-bottom:5px;
					*margin-top:-22px;
					*padding-bottom:5px;
					*margin-left:-5px;
					position:relative;
					z-index:1;
				}
				
				#Right_content h2{
					margin-left:-5px;
					padding:0px;
					font-family:Verdana, Geneva, sans-serif;
					font-size:17px;
					font-weight:normal;
					color:#0c4da2;
					*margin-top:-20px;
					*padding-bottom:5px;
					*margin-left:-5px;
					position:relative;
					margin-top:10px;
					z-index:1;
				}
				
				  #Right_content h2 span{
					margin-left:-5px;
					padding:0px;
					font-family:Verdana, Geneva, sans-serif;
					font-size:15px;
					font-weight:normal;
					color:#6390cb;
					*margin-top:-20px;
					*padding-bottom:5px;
					*margin-left:-5px;
					position:relative;
					margin-top:10px;
					z-index:1;
				  }
				
				#Right_content p{
					margin-top:5px;
					margin-left:-5px;
					padding:0px;
					font-family:Verdana, Geneva, sans-serif;
					font-size:13px;
					font-weight:normal;
					line-height:22px;
					color:#808080;

				}
				
				.Bc_text0
				{
					font-family:Verdana, Geneva, sans-serif;
					font-size:16px;
					font-weight:normal;
					color:#006699;
				}
				.Bc_text1
				{
					font-family:Verdana, Geneva, sans-serif;
					font-size:16px;
					font-weight:normal;
					color:#6699cc;
				}				
				.Rp_text
				{
					font-family:Verdana, Geneva, sans-serif;
					font-size:14px;
					font-weight:normal;
					color:#99999;
					text-align:justify;
				}	
				.Rp_as
				{
					font-family:Verdana, Geneva, sans-serif;
					font-size:14px;
					font-weight:normal;
					color:#99999;					
					color:#C60;
				}
				
	#Footer
	{
		font-family:Verdana, Geneva, sans-serif;
		color:#0066cc;
		font-size:12px;
		position:relative;
		width:100%;
		min-height:465px;
		margin:auto;
		clear:both;
		
	}	
	#Footer span
	{
		float:none;
		
	}		
		#Footer_content
		{
			z-index:0;
			background-image:url(../images/bg_footerinternal.png);
			background-repeat:no-repeat;
			background-position:center top;
			position:relative;
			width:960px;
			min-height:460px;
			margin:auto;
			clear:both;	
		}
		.Text_place_foot	
		{
      	  position:relative;
		  top:110px;
		  left:25px;
		  width:500x;
		  height:200px;
		  line-height:15px;
		}
		.Text_nautilus_foot
		{
		 color:#ff3300;
		 font-size:17px;
		 font-weight:normal;
		 position:relative;
		 top:0;
		 left:0;
		}
		.Logos_place_foot	
		{
      	  position:relative;
		  width:400px;
		  left:583px;
		  top:145px;
		}		
			#Footer_text1
			{
				font-family:Arial, Helvetica, sans-serif;
				color:#cc6633;
				font-size:12px;
				position:relative;
				width:500px;
				min-height:27px;
				margin-top:100px;
				margin-left:25px;
				clear:both;
			}		
							
	.clear{ clear:both; width:100%}
	

