#dep_anterior{
	float:left;
	margin-top:20px;
	margin-left:10px;
	cursor:pointer;
	}

#dep_proximo{
	float:right;
	margin-top:20px;
	margin-right:20px;
	cursor:pointer;
	}

#Image_internal{
					width:277px;
					z-index:10;
					position:absolute;
					margin-top:-194px;					
					margin-left:6px;
					}