@charset "utf-8";
#Galeria
{
	position:relative;
	margin-top:20px;
	width:640px;
	height:500px;
}
#Button_place
{
	position:relative;
	width:640px;
	height:487px;
	margin:auto;
}
.Trans_button_right
{
	z-index: 8000;
	position: absolute;
	top: 193px;
	left: 34px;
	cursor:pointer;
}
.Trans_button_left
{
	z-index: 8000;
	position: absolute;
	top: 193px;
	left: 573px;
	cursor:pointer;
}
#Left_button
{
	display:block;
	top:180px;
	left:24px;
	position:absolute;
	width:52px;
	height:117px;
	z-index:6000;
}
#Right_button
{
	display:block;
	top:180px;
	left:565px;
	position:absolute;
	width:52px;
	height:117px;
	height:117px;
	z-index:6000;
}

#Image
{
	background-image:url(../images/bg_image_galeria.png);
	background-repeat:no-repeat;
	background-position:top center;
	position:relative;
	top:23px;
	left:1px;
	width:533px;
	height:440px;
	margin:auto;
	z-index:7000;
}
#Photo
{
	position:relative;
	top:35px !important;
	left:21px !important;
	width:489px;
	height:367px;
	margin:auto;
	text-align:center;
}
#Image_internal_obras
	{
		width:277px;
		z-index:10;
		position:absolute;
		margin-top:-435px;
		margin-left:8px;
	}
