@charset "utf-8";
#galeria
{
	position:relative;
	margin-top:20px;
	width:640px;
	min-height:370px;
	height:auto;
	/*background:#fff;*/
}
.item_galeria
{
	background-image:url(../images/bg_item_galeria.png);
	background-repeat:no-repeat;
	background-position:center top;	
	position:relative;
	margin-top:20px;
	width:193px;
	height:162px;
	display:inline-block;
}
.item_image
{
	position:relative;
	top:23px;
	left:1px;
	width:150px;
	height:116px;
	margin:auto;
}
	.item_image img
	{
		width:150px;
		height:116px;
	}
	.item_image span
	{
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:normal;
		color:#cc6600;
		text-align:center;
		margin-top:6px;
		margin-bottom: 6px;
	}	
	.item_image span a
	{
		text-decoration:none;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		font-weight:normal;
		color:#cc6600;
	}
.item_info
{
	display:block;
	background-image:url(../images/bg_info.png);
	background-repeat:repeat-y;
	background-position:center top;	
	top:47px;
	position:absolute;
	width:150px;
	min-height:30px;
	height:auto;
	clip:rect(0px,150px,auto,0px);
}
#Image_internal
	{
		width:277px;
		z-index:10;
		position:absolute;
		margin-top:0px;
		margin-left:8px;
	}
