@charset "utf-8";
#galeria
{
	position:relative;
	margin-top:20px;
	width:640px;
	height:370px;
	border:#000 1px dashed;
	background:#fff;
}
.item_galeria
{
	background-image:url(../images/bg_item_galeria.png);
	background-repeat:no-repeat;
	background-position:center top;	
	position:relative;
	margin-top:20px;
	width:193px;
	height:162px;
}
.item_image
{
	position:relative;
	top:22px;
	width:150px;
	height:116px;
	margin:auto;
}
	.item_image img
	{
		width:150px;
		height:116px;
	}
	.item_image span
	{
		display:block;
		font-family:Verdana, Geneva, sans-serif;
		font-size:15px;
		font-weight:normal;
		color:#cc6600;
		text-align:center;
		margin-top:6px;
		clip:rect(top 150px bottom left);
	}	
.item_info
{
	display:block;
	background-image:url(../images/bg_info.png);
	background-repeat:no-repeat;
	background-position:center top;	
	top:47px;
	position:absolute;
	width:150px;
	min-height:30px;
	height:auto;
	

}
