#bg_top{
	position:relative;
	background-color:#fff;
	background-image:url('../images/bg_top.jpg');
	background-repeat:repeat-x;
	height:225px;
	z-index:1000;
	}

#bg_footer{
	position:relative;
	bottom:0px;
	background-color:#fff;
	height:145px;
	z-index:1000;
	margin-top:-32px;
	}

@charset "utf-8";
/* CSS Document */
/* beginning of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* end of reset*/
@font-face {
				font-family: 'BebasNeue';
				src: url('bebasneue.eot');
				src: url('bebasneue.eot?#iefix') format('embedded-opentype'),
						 url('bebasneue.woff') format('woff'),
						 url('bebasneue.ttf') format('truetype'),
						 url('bebasneue.svg#bebasneue') format('svg');
				font-weight: normal;
				font-style: normal;
		}
	
@font-face {
    font-family: 'helvetica';
    src: url('helvetica.eot');
    src: url('helvetica.eot?#iefix') format('embedded-opentype'),
         url('helvetica.woff') format('woff'),
         url('helvetica.ttf') format('truetype'),
         url('helvetica.svg#helvetica') format('svg');
    font-weight: normal;
    font-style: normal;

}
html
{
	
	position:relative;
	width:100%;
	height:100%;
	z-index:10000;
	
}
body
{
	position:relative;
	/*background-image:url(../images/bg_home.jpg);*/
	background-image:url(../images/bg_index.jpg);
	background-repeat:repeat-x;
	background-position:top center;		
	width:100%;
	height:100%;
	background-color:#f9ffff;
	z-index:10000;
}

#box_top_bar_1{
	float:right;
	margin-right:30px;
	margin-top:28px;
	}

#box_top_bar_1 img{
	float:right;
	margin-left:5px;
	margin-top:5px;
	}

.field_form_busca{
	width:176px;
	height:23px;
	background-image:url(../images/bg_form_busca.png);
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid transparent;
	margin-top:8px;
	padding-left:10px;
	color:#a9a9a9;
	font-size:10px;
	}

#box_top_bar_2{
	float:right;
	margin-top:40px;
	}

.field_form_amigo{
	width:106px;
	height:20px;
	background-image:url(../images/bg_form_amigo.png);
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid transparent;
	margin-top:8px;
	padding-left:10px;
	color:#a9a9a9;
	font-size:10px;
	}

#GeneralbgFooter
{
	position:relative;
	width:100%;
	margin:auto;
	margin-top:-225px;
}

#General
{
	position:relative;
	width:960px;
	margin:auto;
	z-index:10000;
}
	
	#Header
	{
		position:relative;
		width:100%;
		height:236px;
		margin:auto;
	}
	#Logo
	{
		position:absolute;
		left:0px;
		top:12px;		
		width:278px;
		margin:auto;
		z-index:100;
	}	
		#Top_bar
		{
			width:100%;
			height:50px;
			margin:auto;
			z-index:1000;
		}	
			/*Tab search bar begining  */		
				#Top_bar #Search_bar{  }
				#Top_bar .slide 
				{
				  position: relative;
				  width:385px;
				  height:33px;
				  overflow:hidden;
				  clip:rect(0px 340px 100px 0px);
				  float:right;
				  margin-right:10px;
				  margin-top:7px;
				}
			
				#Top_bar #Search_bar button 
				{
					position:relative;
					border:none; background:none;
					margin-left:273px;
					margin-left/*\**/:274px\9; /*ie8*/
					*margin-left:260px; /*ie7*/
					top:-9px;
					*top:-10px;   /*ie7*/
					z-index:90;
					cursor:pointer;
				}
				@media screen and (-webkit-min-device-pixel-ratio:0) {
				 #Top_bar #Search_bar button 
				 {
									position:relative;
									border:none; 
									background:none;
									margin-left:276px;
									top:-12px;
									z-index:90;
									cursor:pointer;	 
					 }	}					
				
				#1testeTop_bar #Search_bar @media screen and (-webkit-min-device-pixel-ratio:0)
				{ button body:nth-of-type(1) { 
					position:relative;
					border:none; background:#F00;
					margin-left:273px;
					margin-left/*\**/:274px\9; /*ie8*/
					*margin-left:259px; /*ie7*/
					top:-9px;
					*top:-10px;   /*ie7*/
					z-index:20000;
					cursor:pointer;
					}
				}					
				#Top_bar .slide .inner {
					position: absolute;
					top:-8px;
					left: 0;
					bottom: 0;
					height:50px;
					width:387px;
					background-image:url(../images/menu/bg_searchfield.png);
					background-repeat:no-repeat;
					background-position:center;
				}
				#Top_bar .slide .inner input
				{
					width:264px;
					margin:16px 0px 0px 10px;
					background:transparent;
					border:none;
					font-family:Verdana, Geneva, sans-serif;
					font-size:14px;
					
				}
			/*Tab search bar end  */
			/*Tab login tab begining  */						
			#Login_field
			{
				width:245px;
				height:170px;
				float:right;
			}
				#Login_field #Login_buttom
				{
					float:right;
					height:50px;
				}	
				#Login_field #Login_tab
				{
					position:absolute;
					top:41px;
					background-image:url(../images/menu/bg_logintab.png);
					background-repeat:no-repeat;
					background-position:center;
					float:right;
					height:125px;
					width:245px;				
				}
					#Login_field #Login_tab #Login_content
					{
						height:100px;
						width:220px;
						padding:5px 5px 5px 5px;
						margin:auto;				
					}	
						#Login_field #Login_tab #Login_content .Bg_linput
						{
							background-image:url(../images/menu/bg_logininput.png);
							background-repeat:no-repeat;
							background-position:center;	
							margin:auto;
							height:26px;
							padding:0px 0px 0px 17px;			
						}
							#Login_field #Login_tab #Login_content .Bg_linput input
							{
								height:26px;
								width:178px;
								background:none;
								border:none;	
								font-family:Verdana, Geneva, sans-serif;
								font-size:14px;						
							}
							.Entrar_button
							{
								float:right;
								margin-right:12px;	
							}
					#login {}
					.open{}
					.close{display:none;}	
			/*Tab login end  */				
									
		#Menu
		{
			position:absolute;	
			top:180px;
			left:-46px;
			
			width:1021px;
			height:59px;
		}	
		@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)
		{
				#Menu {
						padding-top:13px;
					  }
		}		
		#Menu ul
		{
			margin-top:18px;
			margin-left:50px;
		}
		#Menu li
		{
			display: inline;
			margin-left:10px;
		}
		.item_align
		{
			margin-right:34px;
		}
			.institucional
			{
				
			}
			.institucional a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.institucional a:hover
			{
				color:#763204;
			}
			.servicos a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.servicos a:hover
			{
				color:#763204;
			}
			.produtos a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.produtos a:hover
			{
				color:#763204;
			}
			.cases a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.cases a:hover
			{
				color:#763204;
			}

			.downloads a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.downloads a:hover
			{
				color:#763204;
			}
			.servicos a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.servicos a:hover
			{
				color:#763204;
			}
			.noticias a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.noticias a:hover
			{
				color:#763204;
			}
			.videos a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.videos a:hover
			{
				color:#763204;
			}
			.atendimento a
			{
				font-family:helvetica;
				text-decoration:none;
				color:#FFF;
				font-size:13pt;
			}
			.atendimento a:hover
			{
				color:#763204;
			}
	#Featured /*Destaque*/
	{
		position:relative;
		width:970px;
		height:335px;
		margin:auto;
		margin-left:0px;
		margin-top:-11px;
		background:#FFF;
	}
	#Featured #Featured_Box
	{
		z-index:2000;		
	}
	#Featured #Featured_Box .Featured_image
	{
		position:relative; 
		width:950px; 
		height:315px; 
		margin:auto;
	}
	#Featured #Featured_Box .Featured_image img
	{
		width:950px; 
		height:315px;
		margin-left:10px;
		margin-top:10px;
	}
	#Featured #Featured_glass
	{
		background-image:url(../images/bg_glass.png); 
		background-repeat:no-repeat; 
		background-position:top center;
		width: 960px;
		height: 325px;
		/*z-index: 2500; Tirei o Z-index pq ele estava impedindo o clique*/
		position: absolute;
		top: 0;
		left: 0;
	}
	#Featured #Featured_navigation
	{
		position: absolute;
		top: 78%;
		left: 70%;
		z-index: 3000;
	}
	#Featured #Featured_navigation .featured_navigation_numbers a
	{
		width:30px;
		height:35px;
		background:url(../images/bg_featured_nav_off.png);
		background-position:center right;
		background-repeat:no-repeat;
		text-decoration:none;
		text-align:center;
		padding-top: 12px;
		display:inline-block;
		font-family:Verdana;
		font-size:20px;
		color: #333366;
		margin-left:5px;
		
	}
	#Featured #Featured_navigation .activeSlide
	{
		width:39px !important;
		height:32px !important;
		background:url(../images/bg_featured_nav_on.png) !important;
		background-position:center right !important;
		background-repeat:no-repeat !important;
		text-decoration:none;
		text-align:center;
		padding-top: 13px;
		display:inline-block;
		font-family:Verdana !important;
		font-size:20px !important;
		color: #cc6600 !important;
		margin-left:5px;		
		
	}
	#Featured_title_text
	{
		float:left; 
		height:22px;
		min-width:300px;
		width:auto;
		padding:7px 0px 0px 15px;
		background-image:url(../images/bg_left_featured.png); 
		background-repeat:repeat-x; 
		background-position:top;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#ff6600;
		margin-left:15px;
	}
	#Featured_title_text a
	{
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		color:#ff6600;
		text-decoration:none;
	}										
	#Content
	{
		position:relative;
		display:inline-block;
		width:100%;
		min-height:620px;
		height:auto;
		margin:auto;
		margin-top:17px;
		font-family:Arial, Helvetica, sans-serif;
	}
	#Detail
	{
		position:absolute;
		top:-23px;
		left:-53px;
		display:inline-block;
		width:1021px;
		height:100px;
		z-index:1000;
	}	
		#Content #Box_left
		{
			position:relative;
			width:519px;
			min-height:400px;
			height:auto;
			float:left;
			z-index:2000;
			
		}
			#Content #Box_left #Depoimentos_box
			{
				position:relative;
				width:495px;
				height:275px;
				margin-top:560px !important;
			
			}
			
			#Content #Box_left #Depoimentos_box h1 img
			{
				margin-top:30px;				
			}
			
			
				.Leftpar_as_left
				{
					position:absolute;
					font-family:Arial, Helvetica, sans-serif;
					font-size:40px;
					font-weight:normal;
					color:#ef8245;					
					margin-left:-27px;
					margin-top:-5px;
				}	
				.Leftpar_as_right
				{
					position:absolute;
					font-family:Arial, Helvetica, sans-serif;
					font-size:40px;
					font-weight:normal;
					color:#ef8245;					
					margin-left:12px;
					margin-top:5px;					
				}				
			#Content #Box_left #Noticias_box
			{
				position:relative;
				width:510px;
				height:300px;
				float:left;				
				padding: 0px 0px 0px 0px;
			}
			
			#Content #Box_left #Noticias_box h1 img
			{
				margin-top:10px;
				}
			#Content #Box_left #Item_noticias
			{	
				position:relative;
				width:519;
				height:126px;
			}		
				#Content #Box_left #Item_noticias #Photo
				{
					position:relative;
					max-width:78px;
					max-height:78px;
					float:left;
					border:2px solid white;
				}	
				#Content #Box_left #Item_noticias #Text
				{
					position:relative;
					width:408px;
					height:120px;
					float:left;	
					padding-left:5px;
					padding-top:0px;				
				}
				.Tit_noticia
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:15px;
					font-weight:normal;
					color:#cc6600;
				}
				
				.Text_noticia
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#666666;
				}
				
				.Tit_noticia a
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:15px;
					font-weight:normal;
					color:#cc6600;
					text-decoration:none;
				}
				
				.Text_noticia a
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#666666;
					text-decoration:none;
					
				}
				
				a.Ver_mais 
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					font-weight:bold;				
					float:right;
					padding-right:5px;
					color:#0073b3;
					text-decoration:none;
					margin-top:20px;
				}

				.Ver_mais_depo
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					font-weight:bold;				
					float:right;
					color:#0073b3;
					text-decoration:none;
					margin-top:-20px;
				}
				
				.Ver_mais_plani
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:18px;
					font-weight:bold;				
					float:right;
					color:#0073b3;
					text-decoration:none;
				}	

				
		#Content #Box_right
		{
			position:relative;
			width:395px;
			min-height:400px;
			height:auto;
			float:right;
			padding:0px 0px 0px 38px;	
		}
			#Content #Box_right #Planilha_box 
			{
				position:relative;
				width:388px;
				height:250px;
				top:-2px;				
			}
			#Content #Box_right #Planilha_box #Planilha_box_content
			{
				position:relative;
				background-image:url(../images/bg_planilha.png);
				background-repeat:no-repeat;
				background-position:center;
				width:384px;
				height:191px;
				margin-top:-12px;
				left:-6px;				
			}
				.bg_p_planilha1
				{
					display:block;
					width:348px;
					height:39px;
					position:relative;	
					top:102px;
					left:-13px;
					background-image:url(../images/bg_p_planilha.png);
					background-repeat:repeat;				
					font-family:Verdana, Geneva, sans-serif;
					font-size:13px;
					font-weight:normal !important;
					color:#004aaa;
					font-weight:normal;	
					text-align:left;
					padding:11px 0px 0px 10px
				}	
				.bg_p_planilha1 a
				{
					text-decoration:none;
					color:#0073b3;
				}
					.bg_p_planilha1 a:hover
					{
						text-decoration:underline;
						color:#0073b3;
					}				
				.bg_p_planilha0
				{
					display:block;
					width:357px;
					height:20px;
					padding-top:5px;
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					color:#595959;
					font-weight:normal;	
					text-align:left;
					padding-left:18px;
				}				
			#Content #Box_right #Videos_box
			{
				position:relative;
				width:388px;
				height:250px;		
			}
			
			#box_video_utube{
				background-image:url(../images/bt_bigyoutube.png);
				background-repeat:no-repeat;	
				background-position:center top;
				width:383px;
				height:270px;
				text-align:center;
				}
			
			#box_video_utube iframe{
				margin-left:-1px;
				margin-top:2px;
				}
			

				.Dep_bc
				{
					position:relative;
					width:468px;
					padding-left:5px;
					margin-top:-35px;
				}
				.Dep_bc a
				{
					font-family:Arial, Helvetica, sans-serif;
					font-size:20px;
					font-weight:normal;
					color:#cc6600;
					text-decoration:none;
				}
				.Dep_text
				{
					position:relative;
					font-family:Arial, Helvetica, sans-serif;
					font-size:20px;
					font-weight:normal;
					color:#595959;
					width:468px;
					padding-left:30px;
				}	
				
				.Dep_text a
				{
					position:relative;
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					font-weight:normal;
					color:#666666;
					text-decoration:none;
				}	
				.Dep_data
				{
					position:relative;
					font-family:Arial, Helvetica, sans-serif;
					font-size:10px;
					font-weight:normal;
					color:#333333;
					margin-left:5px;
				}							
			#Content #Box_right #Ondeencontrar_box
			{
				background-repeat:repeat-x;
				position:relative;
				display:block;
				width:385px;
				height:90px;
				padding: 0px 0px 0px 0px;
				margin-top:98px;
				margin-bottom:20px;		
			}	
				#Content #Box_right #Ondeencontrar_box p
				{
					padding: 0px 0px 0px 5px;
					line-height:15px;
					margin-top:5px;				
				}
			
			.onde_link{
				margin-left:120px;
				margin-top:30px !important;
				
				}
			.onde_link a{
				font-family:Arial, Helvetica, sans-serif;
				font-size:12px;
				font-weight:normal;
				color:#595959;
				text-decoration:none;
				}
			
			.onde_form{
				margin-left:122px;
				margin-top:5px;
				}
			
	#Footer
	{
		font-family:Arial, Helvetica, sans-serif;
		color:#0066cc;
		font-size:12px;
		position:relative;
		width:100%;
		min-height:132px;
		margin:auto;
		clear:both;	
		top:100px;
	}	
		#Footer_content
		{
			font-family:Arial, Helvetica, sans-serif;
			color:#0073b3;
			font-size:12px;
			position:relative;
			width:960px;
			min-height:77px;
			margin:auto;
			clear:both;
			background:#fff;	
		}
		.Text_place_foot	
		{
      	  position:relative;
		  top:25px;
		  left:15px;
		}
		.Text_nautilus_foot
		{
		 color:#0073b3;
		 font-size:17px;
		}
		.Logos_place_foot	
		{
      	  position:relative;
		  float:right;
		  width:400px;
		  top:-15px;
		}

							
	.clear{ clear:both; width:100%}
	

