#youtube{
	float:left;
	margin-right:20px;
	margin-top:10px;
	}
	
#txt_video{
	float:left;
	width:200px;
	margin-top:10px;
	}
	
#Image_internal
  {
    width:277px;
	z-index:10;
	position:absolute;
	margin-top:-286px;
	*margin-top:-550px;
	margin-left:6px;
  }
 


#content_video{
	margin-top:10px;
	border-bottom:1px solid #999;
	padding-bottom:10px;
	}

span{
	float:right;
	}
	
#thumb_video{
	width:130px;
	height:100px;
	float:left;
	padding:10px;
	margin-right:15px;
	}
.pagination
{
	position: relative;
	margin: 10px auto;
	width: 300px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #DD6417;

}
.pagination a
{
	text-decoration:none;

}	
.pagination span
{
	float:none!important;
}

#Img_Linha{
	margin-bottom:-74px;
	}

#Img_Linha_H{
	margin-top:71px;
	}