<%content_for :title do%>
	Meus Pedidos
<%end%>
<%content_for :head do %>


<%end%>
<div id='Content'>
  <div id='Box_left'>
    <%=render :file => "layouts/_menuinternal.html.erb"%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Sobre a Nautilus</h1>
	  <p>A Nautilus é uma empresa atuante no mercado há mais de 25 anos. 
Seu principal foco é a comercialização de equipamentos, acessórios e aquecedores para piscinas. Por trabalhar sempre com muito empenho, a empresa conseguiu se posicionar de forma expressiva no mercado e, graças à sua história, a Nautilus se tornou uma das melhores empresas no ramo em que atua.
Com tradição no mercado e uma estrutura muito sólida, a Nautilus se preocupa em evoluir buscando o aperfeiçoamento de sua equipe, primando sempre pelo bom atendimento a seus clientes e a qualidade de seus equipamentos.
O sucesso alcançado pela Nautilus é fruto do esforço coletivo. Toda a equipe e os revendedores que buscam sempre oferecer a você produtos com a mais alta tecnologia, com qualidade na prestação de serviços e economia para sua casa ou empreendimento.</p>
	</div>
  </div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_sobre.png")%>
</div>
