<%=form_tag resultados_institucional_revendas_path, :method => :post%>
<div id='repre_top'>
    <div id='repre_estado'>
     	<p>Selecione o Estado:</p>
      	<%= collection_select :pessoa, :estado, @Estados, :state, :state,{:size=>"10", :prompt => 'Selecione...'} %>
		<div id="cidades" style="display:inline-block;"></div>
	</div>
	
	<div id='repre_cidade'> 
		<%= observe_field "pessoa_estado",  
		                      :frequency => 0.25,  
		                      :url => {:action => "popula_cidades"},  
		   	                  :with => "'estado='+escape(value)" %>
	</div>
	
	<div id='repre_busca'>
     <p>&nbsp;</p>
		<%= image_submit_tag "bt_busca_internal.png", :width=>"85",:height=>"29",:class=>"align_detail", :alt => "Buscar", :align => "absmiddle" %>
        <%#= link_to image_tag("bt_busca_internal.png", :width=>"85",:height=>"29",:class=>"align_detail"), "#", :class=>"bt_textalign"%>
	</div>
	<div class="clear"></div>
  </div>
</form>
			
			
			
			
			
			
			 
					  
		