<%content_for :title do%>
	Revendas
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalrepre"%>
<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    <%=render :file => "layouts/_menuinternal.html.erb"%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Revendas - Fasterm</h1>
	  <p>
	  <br />
	    FASTERM , Rua da Bahia, 22 ,<br />
		Recreio Estoril - Atibaia - SP - CEP 12944060<br />
		TELEFONE: +55 11 4411.1488<br />
		Email:<a href="mailto:contato@fasterm.com.br">contato@fasterm.com.br<a/><br />
	</p>
	</div>
  </div>
  
</div>
</div>
<div id='Image_internal'>
  <%=image_tag("img_revenda.png")%>
</div>