<%content_for :title do%>
	Meus Pedidos
<%end%>
<%content_for :head do %>
<%=stylesheet_link_tag "internalbig"%>

<%end%>
<div id='Content_bgrepeat'>
<div id='Content'>
  <div id='Box_left'>
    <%=render :file => "layouts/_menuinternal.html.erb"%>
  </div>
  <div id='Box_right'>
    <%=image_tag("ico_title_internal.png")%>
    <div id='Right_content'>
	  <h1>Missão e Visão de Mercado</h1>
	  <h2>Nossa Missão</h2>
	  <p>"Vivenciar em equipe a verdade, o comprometimento e a solidariedade no relacionamento com nossos clientes e fornecedores, visando sempre o desenvolvimento e a satisfação de todos".</p>
      <h2>Nossos Valores</h2>
	  <p>- Verdade<br>
- Comprometimento<br>
- Solidariedade</p>
      <h2>Nossa História</h2>
	  <p>A Nautilus iniciou suas atividades em maio de 1984, na cidade de São Paulo, com o objetivo inicial de produzir acessórios de piscinas, tais como aspirador de fundo de piscinas, em fibra de vidro prensada, peneiras e skimmer regulável. <br><br>
Em 1986, já sob a direção dos atuais sócios da empresa, a Nautilus iniciou o projeto de fabricação de filtros e bombas para piscinas. No início, os tanques dos filtros eram construídos em chapa de aço carbono ou em fibra de vidro. As bombas e a válvula multi-vias do filtro eram em ferro fundido.<br><br>
Buscando sempre o crescimento e expansão da empresa, em setembro de 1989, a Nautilus lançou o primeiro filtro rotomoldado produzido no Brasil, o modelo F350P, que marcou o início de uma nova era na fabricação de filtros, com tanques construídos em uma peça sem solda e sem qualquer tipo de emendas, muito mais resistentes, especialmente em relação à corrosão a que normalmente são submetidos os produtos de piscinas. A Nautilus sempre teve a mais completa linha de filtros rotomoldados. Ainda hoje é a fabricante do maior filtro rotomoldado no Brasil, o modelo F1150P.<br><br>        
Em abril de 1991, em razão da aquisição de sua máquina de rotomoldagem, o que requeria um espaço maior, a Nautilus mudou-se para Atibaia, no interior de São Paulo, onde se encontra instalada hoje.   </p>
	</div>
  </div>
  
</div>
<div id='Image_internal'>
  <%=image_tag("img_missao.png")%>
</div>
</div>