<div id="Menu_internal">
      <ul>
	    <li><p class="bg_botao"><%= link_to image_tag("menu/Menu_internal/img_circledetail.png", :width=>"9",:height=>"9",:class=>"align_detail")+"Sobre a Nautilus", institucional_sobre_index_path, :class=>"bt_textalign"%></p></li>
		<li><p class="bg_botao"><%= link_to image_tag("menu/Menu_internal/img_circledetail.png", :width=>"9",:height=>"9",:class=>"align_detail")+"Missão e Visão de Mercado", institucional_missao_index_path, :class=>"bt_textalign"%></p></li>
        <li><p class="bg_botao"><%= link_to image_tag("menu/Menu_internal/img_circledetail.png", :width=>"9",:height=>"9",:class=>"align_detail")+"Revendas e Representantes", institucional_revendas_path, :class=>"bt_textalign"%></p></li>
        <li><p class="bg_botao"><%= link_to image_tag("menu/Menu_internal/img_circledetail.png", :width=>"9",:height=>"9",:class=>"align_detail")+"Depoimentos", institucional_depoimentos_path, :class=>"bt_textalign"%></p></li>
      </ul> 
    </div>