<div id="Top_bar">
		<div id="Login_field">
			<div id="login_buttom">
				<%= link_to image_tag("menu/bt_amigodarevenda0.png", :width=>"242",:height=>"53",:id=>"imgbotao"), '#', :id=>"login"%>
			</div>
			<div id="Login_tab" class="closed" >
       			<div id="Login_content">
                	<div class="Bg_linput">
						<input type="text"  maxlength="23" name="Login" value="Usuário" onfocus="if (this.value =='Usuário') {this.value=''}" onblur="if(this.value == '') { this.value='Usuário'}"/>
					</div><br />
                    <div class="Bg_linput">
						<input type="password"  maxlength="23" name="Senha" value="Senha" onfocus="if (this.value =='Senha') {this.value=''}" onblur="if(this.value == '') { this.value='Senha'}"/>
					</div><br />
					<%= link_to image_tag("menu/bt_entrarlogin.png", :width=>"69", :height=>"25"), "#", :class=>"Entrar_button"%>
                </div>
            </div>                                
		</div>
        <div id="Search_bar" class="slide" >
          <button><%= image_tag("menu/bt_busca.png", :width=>"103", :height=>"53")%></button>
		  
          <div class="inner" style="margin-left: 387px;">
                            <div class="Search_tab">
                                <input type="text"  maxlength="34" name="Busca"/> 
                            </div>
          </div>
        </div>           
</div>
<div id="Logo">
	<%= link_to image_tag("logo_nautilus.png", :width=>"636", :height=> "151", :alt=>"Nautilus", :title=>"Nautilus"), root_path%>
</div>
